<div class="alert-card rounded-card card-shadow">
  <div class="d-flex">
    <div class="d-flex alert-icon">
      <% if alert.due_date %>
        <% if alert.due_date <= Date.today %>
          <i class="fas fa-exclamation-triangle red-icon alert-icon-border-radius"></i>
          <i class="fas fa-clock red-clock"></i>
        <% elsif alert.due_date <= Date.today + alert.alert_category.max_weeks.week %>
          <i class="fas fa-info-circle yellow-icon alert-icon-border-radius"></i>
          <i class="fas fa-clock yellow-clock"></i>
        <% else %>
          <i class="fas fa-info-circle green-icon alert-icon-border-radius"></i>
          <i class="fas fa-clock green-clock"></i>
        <% end %>
      <% else %>
          <div class="empty-alert"></div>
      <% end %>
    </div>
    <div class="d-flex clock-date">
      <h2 class="alert-icon-title"><%= alert.alert_category.name %></h2>
      <% if alert.due_date %>
        <% if alert.due_date <= Date.today %>
          <p class="red-date"><strong><%= alert.due_date = alert.due_date.strftime("%d/%m/%Y") %></strong></p>
        <% elsif alert.due_date <= Date.today+alert.alert_category.max_weeks.week %>
          <p class="yellow-date"><strong><%= alert.due_date = alert.due_date.strftime("%d/%m/%Y") %></strong></p>
        <% else %>
          <p class="green-date"><strong><%= alert.due_date = alert.due_date.strftime("%d/%m/%Y") %></strong></p>
        <% end %>
      <% else %>
        <p class="nil-date"><strong><%= Date.today.strftime("%d/%m/%Y") %></strong></p>
      <% end %>
      <p class="txt-info alert-info"><%= alert.alert_category.description %></p>
      <div class="d-flex alert-links">

          <!-- je récup le nom du service demander pour envoyer le lien associer  -->
          <% service = Service.where("name ILIKE ?", "%#{alert.alert_category.name.downcase}%").first%>

          <!-- le lien envoi l'id du service pour le récup dans garages -->
          <%= link_to "Prendre RDV", garages_path(:query => service.id), class: "button-alert-rdv"  %>
          <%= render 'components/alert_category/pop_up', alert: alert %>
      </div>
    </div>
  </div>
</div>
