<!-- Button trigger modal -->
  <button type="button" class="button-alert-date" data-bs-toggle="modal" data-bs-target="#<%= dom_id(alert)%>">
  Réalisé
  </button>

<!-- Modal -->
  <div class="modal fade" id="<%= dom_id(alert)%>" tabindex="-1" aria-labelledby="<%= dom_id(alert)%>Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= dom_id(alert)%>Label"><%= alert.alert_category.name %> réalisé</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(alert) do |f| %>
            <div class="input-group">
              <span class="input-group-text pop-up-icon-bg"><i class="fas fa-calendar-alt pop-up-icon"></i></span>
              <%= date_field_tag :completed_at, :date, { class: "form-control" } %>
              <%= f.input :completed, as: :hidden, input_html: { value: true } %>
            </div>
            <%= f.submit "Valider", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
