
<div data-controller="display-map">

  <div class="garage-header">
    <%= form_tag garages_path, class: "search tile-shadow", method: :get, data:{ controller:"form-submit"} do %>
      <div class="p-5 search">
        <%= select_tag "query",
          options_from_collection_for_select(@services, "id", "name"),
          prompt: params[:query].nil? ? "Sélectionner un service" : Service.find(params[:query]).name,
          data: {"action": "change->form-submit#garageChoice"},
          class: "form-select select"
        %>
      </div>
    <%end%>

    <div class="tile-shadow button-circle btn-hidden" data-display-map-target="btnlist" data-action="click->display-map#disable" >
      <i class="fas fa-map-marked-alt"></i></div>
    <div class=" tile-shadow button-circle btn-hidden  display-none" data-display-map-target="btnmap" data-action="click->display-map#disable">
      <i class="fas fa-clipboard-list"></i></div>
  </div>

  <div data-display-map-target="content" class="garage_cards">
    <% @garages.each do |garage| %>
        <!-- card d'un garage -->
        <div class="garage_card rounded-card card-shadow ">

          <!-- j'englobe les differentes sections photo, name/note et prix -->
          <div class ="garage_title align-items-center rounded-card-top d-flex flex-row ">

            <div class="p-2">
              <% if garage.photos.attached? %>
                <%= cl_image_tag garage.photos.first.key, height: 60, width: 60, crop: :fill, class: "garage-logo" %>
              <% end %>
            </div>

            <div class="garage-info-contact w-100 d-flex flex-column">
              <div class="garage_name">
                <!-- a esayer https://www.google.com/maps/search/latitude,longitude-->
                <p><strong ><%= link_to garage.name, garage.web_address, target: "_blank"%></strong></p>
              </div>
              <div class ="d-flex flex-row justify-content-between align-items-center pt-2">
                <div class="d-flex txt-info">
                  <div class="rating-number"><i class=" fas fa-star"></i></div>
                  <div class="rating-star"><%= garage.average_rating%></div>
                </div>
                <div class="service_price align-self-end d-flex flex-row">
                  <% unless garage.services.first.nil?%>
                    <!-- je récup le nom du service demander pour afficher son prix -->
                    <%unless params[:query].nil?%>
                      <%name = Service.find(params[:query]).name %>
                      <p><%=garage.services.where(name: name).first.price%></p>
                    <%else%>
                      <p><%=garage.services.first.price%></p>
                    <%end%>

                      <i class="icone fas fa-euro-sign"></i>
                      <p>€</p>

                  <%end%>
                </div>
              </div>
            </div>
          </div>

          <!-- section de l'adress et des contacts -->
          <div class="garage_info rounded-card-bottom">
            <% if request.env['HTTP_USER_AGENT'].downcase.match(/iphone/) %>
              <%= link_to garage.address, "comgooglemaps://https://maps.google.com?q=#{garage.name},#{garage.address}", target: "_blank", class: "full_garage_address txt-info" %>
            <% elsif request.env['HTTP_USER_AGENT'].downcase.match(/android/) %>
              <%= link_to garage.address, "geo:https://maps.google.com?q=#{garage.name},#{garage.address}", target: "_blank", class: "full_garage_address txt-info" %>
            <% end %>
            <%= link_to garage.telephone, "tel:#{garage.telephone}", class: "garage_contact txt-info text-center" %>
          </div>

        </div>

    <%end%>
  </div>


  <div
        class="mapboxgl-map hidden"
        <%# style="height: 100vh; width: 100%;" %>
        data-display-map-target="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
