<div data-controller="display-map">
  <div class="btn-map" data-action="click->display-map#disable"></div>

  <div data-display-map-target="content" class="garage_cards">
    <% @garages.each do |garage| %>

      <div class="garage_card rounded-card">

        <div class ="garage_name rounded-card-top">
         <%=garage.name%>
        </div>

        <div class="garage_info rounded-card-bottom">
          <div>
           <i class="fas fa-map-marker-alt"></i><i><%=garage.address%></i>
          </div>
          <div>
            <strong><%=garage.telephone%></strong>
            <%= link_to "lien", "https://www.allogarage.fr/#{garage.web_address}"%>
          </div>
        </div>

      </div>

    <%end%>
  </div>


  <div class="mapboxgl-map display-none" data-display-map-target="map"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
