
<div   data-controller="display-map"  >

  <div class="garage-header">
    <%= form_tag garages_path, class: "search",method: :get, data:{ controller:"form-submit"}   do %>
      <div class="p-5 search">
        <%= select_tag "query",
          options_from_collection_for_select(@services, "id", "name"),
          prompt: params[:query].nil? ? "select a service" : Service.find(params[:query]).name,
          data: {"action": "change->form-submit#garageChoice"},
          class: "form-select select"
        %>
      </div>
    <%end%>



    <div class="button-circle btn-hidden" data-display-map-target="btnlist" data-action="click->display-map#disable" >
      <i class="fas fa-map-marked-alt"></i></div>
    <div class="button-circle btn-hidden  display-none" data-display-map-target="btnmap" data-action="click->display-map#disable">
      <i class="fas fa-clipboard-list"></i></div>
  </div>

  <div data-display-map-target="content" class="garage_cards">
    <% @garages.each do |garage| %>
        <!-- card d'un garage -->
        <div class="garage_card rounded-card ">

          <!-- j'englobe les differentes sections photo, name/note et prix -->
          <div class ="garage_title align-items-center rounded-card-top d-flex flex-row ">

            <div class="p-2">
              <% if garage.photo.attached? %>
                <%= cl_image_tag garage.photo.key, height: 60, width: 60, crop: :fill, class: "garage-logo" %>
              <% end %>
            </div>


            <div class="p-2 garage_name">
              <!-- a esayer https://www.google.com/maps/search/latitude,longitude-->
              <div><strong ><%=garage.name%></strong></div>
              <p><i class="fas fa-star"></i><%= garage.average_rating%></p>
            </div>


            <div class=" align-self-end d-flex flex-row ml-auto garage_rating p-2">
              <% if garage.services.first != nil%>
                <%=garage.services.first.price%>
                <div class="auros"><i class=" icone fas fa-euro-sign"></i></div>
              <%end%>
            </div>

          </div>

          <!-- section de l'adress et des contacts -->
          <div class="garage_info rounded-card-bottom">
            <div class="garage_address">
             <i class="fas fa-map-marker-alt"></i> <i><%=garage.address.gsub(",", "")%></i>
            </div>
            <div class="garage_contact">
              <div><%=garage.telephone%></div>
              <div><%= link_to "lien", "https://www.allogarage.fr/#{garage.web_address}",  :class => "garage_web_address"%></div>
            </div>
          </div>

        </div>

    <%end%>
    <div class="fantom" > <br><br><br><br></div>
  </div>


  <div
        class="mapboxgl-map hidden"
        style="height: 100vh; width: 100%;"
        data-display-map-target="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
