
<div data-controller="display-map">

  <div class="garage-header">
    <%= form_tag garages_path, class: "search",method: :get, data:{ controller:"form-submit"}   do %>
      <div class="p-5 search">
        <%= select_tag "query",
          options_from_collection_for_select(@services, "id", "name"),
          prompt: params[:query].nil? ? "Veuillez sélectionner un service" : Service.find(params[:query]).name,
          data: {"action": "change->form-submit#garageChoice"},
          class: "form-select select tile-shadow"
        %>
      </div>
    <%end%>

    <div class="tile-shadow button-circle btn-hidden" data-display-map-target="btnlist" data-action="click->display-map#disable" >
      <i class="fas fa-map-marked-alt"></i></div>
    <div class=" tile-shadow button-circle btn-hidden  display-none" data-display-map-target="btnmap" data-action="click->display-map#disable">
      <i class="fas fa-clipboard-list"></i></div>
  </div>

  <div data-display-map-target="content" class="garage_cards">
    <% @garages.each do |garage| %>
        <!-- card d'un garage -->
        <div class="garage_card rounded-card ">

          <!-- j'englobe les differentes sections photo, name/note et prix -->
          <div class ="garage_title align-items-center rounded-card-top d-flex flex-row ">

            <div class="p-2">
              <% if garage.photo.attached? %>
                <%= cl_image_tag garage.photo.key, height: 60, width: 60, crop: :fill, class: "garage-logo" %>
              <% end %>
            </div>

            <div class="garage-info-contact w-100 d-flex flex-column">
              <div class="p-2 garage_name">
                <!-- a esayer https://www.google.com/maps/search/latitude,longitude-->
                <strong ><%= link_to garage.name, garage.web_address, target: "_blank"%></strong>
              </div>
              <div class ="d-flex flex-row justify-content-between">
                <div class="garage_rating align-self-start"><i class=" fas fa-star"></i><%= garage.average_rating%></div>

                <div class="service_price align-self-end d-flex flex-row">
                  <% if garage.services.first != nil%>
                    <!-- je récup le nom du service demander pour afficher son prix -->
                    <%if params[:query] != nil%>
                      <%name = Service.find(params[:query]).name %>
                      <%=garage.services.where(name: name).first.price%>
                    <%else%>
                      <%=garage.services.first.price%>
                    <%end%>
                      <div><i class=" icone fas fa-euro-sign"></i></div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>

          <!-- section de l'adress et des contacts -->
          <div class="garage_info rounded-card-bottom">
            <div class="full_garage_address">
             <i class="fas fa-map-marker-alt"></i>
             <em class ="garage_address">
               <%= link_to garage.address.gsub(",", ""), "https://www.google.com/maps/search/#{garage.latitude},#{garage.longitude}", target: "_blank" %>
             </em>
            </div>
            <div class="garage_contact">
              <div><%=garage.telephone%></div>
            </div>
          </div>

        </div>

    <%end%>
    <div class="fantom" ><br><br><br><br></div>
  </div>


  <div
        class="mapboxgl-map hidden"
        style="height: 100vh; width: 100%;"
        data-display-map-target="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
