<div class="my_vehicule_card card-shadow rounded-card card-shadow">
  <%= link_to car_path(car) do %>

      <!-- image de la voiture -->
    <div style="background-image: url('<%= cl_image_path car.specification.photo.key %>')", class="my_vehicule_img">
      <% if car.redcount.count >= 1 %>
        <div class="my_vehicule_alert red-icon">
          <p class="txt-white"> <%= car.redcount.count + car.yellowcount.count %> </p>
          <i class="fas fa-exclamation-triangle"></i>
        </div>
      <% elsif car.yellowcount.count >= 1 %>
        <div class="my_vehicule_alert yellow-icon">
          <p class="txt-white"> <%= car.yellowcount.count %> </p>
          <i class="fas fa-info-circle"></i>
        </div>
      <% end %>
    </div>

      <!-- quelque spécification, model, engine, mileage -->
    <div class="my_vehicule_details">
      <div class="info">
        <div>
          <p><strong><%= car.specification.make%> <%= car.specification.model%></strong></p>
          <p class="my_car_engine"><%= car.specification.engine%></p>
        </div>
        <p class="txt-info"><%= number_with_precision(car.mileage, precision: 0, delimiter: ' ') %> Km</p>
      </div>
    </div>
  <%end%>
</div>
