<div class="modal fade" id="<%= dom_id(specification) %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= specification.model %></h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@car) do |f| %>
          <%# <%= f.label :name, "Numéro d'immatriculation" %>
          <%# <%= f.text_field :number_plate %>
          <%= f.input :number_plate %>
          <%# <%= f.label :name, "kilométrage" %>
          <%# <%= f.number_field :mileage %>
          <%= f.input :mileage %>
          <%= f.label :name, "Dernier contrôle technique" %>
          <%= date_field_tag :date_ct %>
          <%= f.label :name, "Dernier entretien"%>
          <%= date_field_tag :date_et %>
          <%= text_field_tag :spec_id, specification.id, class: "d-none" %>
          <button type="button" class="btn"><%= f.submit "Enregistrer" %></button>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
      </div>
    </div>
  </div>
</div>
