
<div class="vehicule-card card-shadow rounded-card" data-bs-toggle="modal" data-bs-target="#<%= dom_id(specification) %>">
  <% if specification.photo.attached? %>
    <%= cl_image_tag specification.photo.key, crop: :fill, class:"new_car_img" %>
  <% end %>

  <div class="new_car_info">
    <div class="new_car_model">
      <p class="mb-0"><%= specification.make %></p>
      <strong class="strong mb-1"><%= specification.model %></strong>
    </div>

    <div class="new_car_engine">
      <p class="txt-info enginespec"><%= specification.engine %></p>
      <p class="txt-info fuelspec "><%= specification.fuel%> | <%=specification.transmission %></p>
    </div>
  </div>

</div>

<%= render "components/cars/new_vehicule_modal", specification: specification %>
