<!-- image de la voiture et les spécification principal -->
<div class="car-tile" data-controller="modal-car-km">
  <% if @car.specification.photo.attached? %>
    <%= cl_image_tag @car.specification.photo.key%>
  <% end %>
  <div class="car-tile-info tile-shadow">
    <h2><%= @car.specification.make%> <strong><%= @car.specification.model%></strong></h2>
    <p><%= @car.specification.engine%></p>
  </div>
  <div class="car-tile-mileage tile-shadow" >
    <!--le popup (modal) pour changer le Km de la voiture-->
    <%= render 'components/cars/modal_car_km', car: @car %>

  </div>
  <!--afficher le bandeau des alerte sur la droite-->
</div>

<div class="car-tile-buttons">
  <%= link_to car_alerts_path(params[:id]), class: "center-text" do %>
    <i class="fas fa-bell"></i>
    <p class="txt-white">Rappels</p>
  <% end %>
  <%= link_to car_documents_path(params[:id]), class: "center-text" do %>
    <i class="fas fa-file-alt"></i>
    <p class="txt-white">Documents</p>
  <% end %>
</div>

<div class="info-tile">
  <h2>Informations clés</h2>
  <div class="key-info">
    <p>Immatriculation</p>
    <p class="txt-gold"><%= @car.number_plate %></p>
  </div>
  <hr>
  <div class="key-info">
    <p>Carburant</p>
    <p class="txt-gold"><%= @car.specification.fuel %></p>
  </div>
  <hr>
  <div class="key-info">
    <p>Boîte</p>
    <p class="txt-gold"><%= @car.specification.transmission %></p>
  </div>
  <hr>
  <div class="key-info">
    <p>Crit'Air</p>
    <p class="txt-gold"><%= @car.specification.critair %></p>
  </div>
</div>

<!-- la liste des spécification un peu plus détailler avec un lien pour ouvrir la page documents -->
<!-- <div class="card">
  <div class="row">
    <div class="col-sm">
      <strong>immatriculation</strong>
    </div>
    <div class="col-sm">
      <%= @car.number_plate %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <strong>crit'air</strong>
    </div>
    <div class="col">
      <%= @car.specification.critair %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <strong>fuel</strong>
    </div>
    <div class="col-sm">
      <%= @car.specification.fuel %>
    </div>
  </div>
  <%= link_to "Alert", car_alerts_path(params[:id]) %>

</div> -->
