

<div class="documents_list">
  <% @documents.each do |document| %>
    <div class="document_card d-flex rounded-card">
      <div>
        <strong><%= document.name %></strong>
        <p class="txt-info"><%= document.created_at.strftime("ajouté le %m/%Y") %></p>
      </div>
      <div class="document_actions d-flex">
        <a href="<%=download_link(cl_image_path(document.document.key))%>"><i class="fas fa-download button-circle-doc document_icon"></i></a>
        <i class="fas fa-trash-alt button-circle-doc document_icon"></i>
      </div>
    </div>
<% end %>
</div>


<i class="fas fa-plus button-circle new_doc_button" data-bs-toggle="modal" data-bs-target="#documentModal"></i>

<!-- Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="documentModalLabel">Telecharger vos nouveaux documents</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<%= simple_form_for([@car, @document]) do |f| %>
  <%= f.input :name, as: :string, label: "Nom du document" %>
  <%= f.input :document, as: :file %>
  <%= f.submit %>
<% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
