
<div class="alert-return-link tile-shadow">
    <div class="d-flex">
      <%= link_to "", car_path(@car), class: "fas fa-angle-left return-icon-alert" %>
      <%= link_to "Retour au véhicule", car_path(@car), class: "return-text"  %>
    </div>
  </div>

<div class="documents_list">
  <% @documents.each do |document| %>
    <div class="document_card d-flex rounded-card">
      <div>
        <strong class="document_name"><%= document.name%></strong>
        <p class="txt-info"><%= document.created_at.strftime("ajouté le %m/%Y") %></p>
      </div>
      <div class="document_actions d-flex">
        <a href="<%=download_link(cl_image_path(document.document.key))%>"><i class="fas fa-download button-circle-doc document_icon"></i></a>
        <%= render 'cars/documents/delete_document_modal', document: document %>
      </div>
    </div>
<% end %>
</div>


<div class="d-flex justify-content-center mt-4" data-bs-toggle="modal" data-bs-target="#documentModal">
  <div class="new_vehicule_card rounded-card card-shadow d-flex">
    <p class="add-a-button">Ajouter un document</p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="documentModalLabel">Ajouter un document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<%= simple_form_for([@car, @document]) do |f| %>
  <%= f.input :name, as: :string, label: "Nom du document" %>
  <%= f.input :document, as: :file%>
  <%= f.submit "Ajouter", class: "btn btn-primary"%>
<% end %>

      </div>
    </div>
  </div>
</div>
